name: Deploy to Azure VM

on:
  push:
    branches: [ main ]

jobs:
  deploy: 
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and Push Docker Image
      run: |
        VERSION=v${{ github.run_number }}
        docker build -t demon1242/node-uni:$VERSION . 
        docker tag demon1242/node-uni:$VERSION demon1242/node-uni:latest
        docker push demon1242/node-uni:$VERSION
        docker push demon1242/node-uni:latest
        echo "VERSION=$VERSION" >> $GITHUB_ENV

    - name: Deploy to Server
      uses: appleboy/ssh-action@v1.0.0
      with:
        host: ${{ secrets.VM_PUBLIC_IP }}
        username: ${{ secrets.VM_USERNAME }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        script: |
          cd ~/node_project
          docker-compose pull
          docker-compose down
          docker-compose up -d
          docker image prune -f